@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*, ::before, ::after{ margin: 0; box-sizing: border-box;}
a{text-decoration: none;}
button{ cursor: pointer; padding: 0;}
:disabled{ cursor: not-allowed;}
img{ vertical-align: bottom;}
label{ display: block;}
ul{ list-style: none; padding: 0;}
li{list-style: none;}


html{
    font-size: 15px;
    --ff:'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
body{
    font-size: 16px;
    font-family: var(--ff);
    background-color: black;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}
.thin{ font-weight: 300;}


.row{ display: flex; flex-flow: row wrap; margin: 0 -1rem;}
[class^="col-"]{ flex: 1 0 auto; padding: 0 1rem; }
.col-1{ flex-basis: 8.33%; max-width: 8.33%; }
.col-2{ flex-basis: 16.66%; max-width: 16.66%; }
.col-3{ flex-basis: 25%; max-width: 25%; }
.col-4{ flex-basis: 33.33%; max-width: 33.33%; }
.col-5{ flex-basis: 41.66%; max-width: 41.66%; }
.col-6{ flex-basis: 50%; max-width: 50%; }
.col-7{ flex-basis: 58.33%; max-width: 58.33%; }
.col-8{ flex-basis: 66.66%; max-width: 66.66%; }
.col-9{ flex-basis: 75%; max-width: 75%; }
.col-10{ flex-basis: 83.33%; max-width: 83.33%; }
.col-10{ flex-basis: 83.33%; max-width: 83.33%; }
.col-12{ flex-basis: 100%; max-width: 100%; }
.flex{ display: flex;}
.justify-space-bet{ justify-content: space-between; }
.align-center{ align-items: center;}
.text-center{text-align: center;}
.gap-y-50{gap: 4rem 0;}


/* custom css */

header{color: #fff; line-height: 100px;}
header .logo a{color: #fff; font-size: 23px;}
header .ham-burger{display: none;}
ul li{padding: 0 10px; margin: 0 5px;}
ul li a{color: #fff; transition: all .3s;}
ul li a:hover{padding-bottom: 8px;border-bottom: 2px solid #8BFBFF;}

.heading{
    margin-top: 30px;
    flex-basis: 50%;
}
.heading small{
    color: #8a8989;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
}
.heading h2{
    line-height: 20px;
    font-size: 50px;
    letter-spacing: -4px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}
.heading h1 span{
    color: #8BFBFF;
}
.heading h3{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: 5px;
}
.heading p{
    width: 80%;
    margin-bottom: 30px;
    color: #fff;
}
.btn{
    width: 165px;
    height: 35px;
    font-size: 15px;
    border: none;
    position: relative;
    font-weight: 600;
    margin-bottom: 30px;
    overflow: hidden;
    cursor: pointer;
    color: var(--black);
    transition: all 0.3s;
    background-color: #fff;
}
.btn:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100px) rotate(45deg);
    background-color:#FB38C8;
    transition: transform 0.3s;
}
.btn:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-110px) rotate(45deg);
    background-color: #8BFBFF;
    transition: transform 0.3s;
}
.btn:hover{
    border: 1px solid #fff;
    color: #fff;
    background-color: #000;
}
.btn:hover::before{
    transform: translateX(100px) rotate(45deg);
}
.btn:hover::after{
    transform: translateX(110px) rotate(45deg);
}
.banner{padding-bottom: 100px;}
.banner img{
    width: 370px;
    height: 370px;
    transform: translateY(50px);
    border-radius: 50%;
}
/* ---------------------------------------------skills------------------------------------------------------------ */
.slills .row{display: grid; place-items: center;}
 h2{
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
    padding-top: 20px;
}
 .section-desc{
    color: #fff;
    font-size: 17px;
}

 .col-12{text-align: center; padding-bottom: 50px;}
.skill h2{
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #fff;
}
.skill h4{
    color: #8BFBFF;
    margin-bottom: 5px;
    font-weight: 400;
}
.skill p{
    margin-bottom: 10px;
    font-weight: 300;
    color: #fff;
}
.skill i{
    margin-bottom: 10px;
    font-size: 30px;
    color: #8BFBFF;
}
.skills .skill{text-align: center;}

/* -----------------------------------------------Portfolio start------------------------------------------------------*/
.portfolio .row{gap: 20px 0;}
.portfolio .img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    border: 1px solid var(--white);
    border-radius: 10px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.portfolio .pi1{background-image: url(../img/web1.webp )}
.portfolio .pi2{
    background-image: url(../img/iddo.webp);
}
.portfolio .pi3{
    background-image: url(../img/api1.webp);
}
.portfolio .pi4{
    background-image: url(../img/api2.webp);
}
.portfolio .pi5{
    background-image: url(../img/sass.webp);
}
.portfolio .pi6{
    background-image: url(../img/bootstrap.webp);
}
.portfolio .pi7{
    background-image: url(../img/web4.webp);
}
.portfolio .pi8{
    background-image: url(../img/calender.webp);
}
.portfolio .pi9{
    background-image: url(../img/stopwatch.webp);
}
.portfolio .pi10{
    background-image: url(../img);
}
.portfolio .pi11{
    background-image: url(../img);
}
.portfolio .pi12{
    background-image: url(../img);
}
.portfolio .img::before{
    content: '';
    position: absolute;
    opacity: 0;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3s;
    backdrop-filter: blur(2px);
    background-color: rgba(9, 32, 43, 0.493);
}
.portfolio .img:hover::before{
    opacity: 1;
}
.portfolio .img p{
    width: 80%;
    z-index: 1;
    opacity: 0;
    transition: opacity .3s;
    margin-bottom: 20px;
    color: white;
}
.portfolio .img button {
    opacity: 0;
    transition: opacity .3s;
}
.portfolio .img:hover p,
.portfolio .img:hover button{
    opacity: 1;
}
 .contact a{color: #8BFBFF;}
 .portfolio a{color: #8BFBFF;}
/* ------------------------------------------------services-------------------------------------------------------- */
.services .service{display: grid; text-align: center;}
.service h2,h3{

    padding-bottom: 15px;
    text-transform: uppercase;
    color: #fff;
}
.service p{
    padding-bottom: 10px;
    font-weight: 300;
    color: #fff;
}
.service i{
    padding-bottom: 10px;
    font-size: 30px;
    color: #8BFBFF;
}

/* ----------------------------------------------contact------------------------------------------------------------- */

.contact-form{
    margin-top:50px;
    display: grid;
    place-items: center;
    padding: 0 10px;
}
.contact-form input{
    margin-bottom: 10px;
    height: 30px;
    padding: 10px;
    outline: none;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    display: block;
    width: 400px;
}
.contact-form textarea{
    color: #fff;
    margin-bottom: 30px;
    height: 200px;
    padding: 20px;
    outline: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    display: block;
    width: 400px;
    width: 400px;
    resize: none;
}


@media screen and (max-width:1220px){
}
@media screen and (max-width:980px){
    .col-t-6{ flex-basis: 50%; max-width: 50%; }
    .heading h2{line-height: 45px;}
}
@media screen and (max-width:769px){
.col-m-6{flex-basis: 50%; max-width: 50%;}
.col-m-12{flex-basis: 100%; max-width: 100%;}
.banner img{width: 100%; height: auto;}
.skills .skill{padding: 10px 50px;}
}

@media screen and (max-width:480px){
    .col-p-12{ flex-basis: 100%; max-width: 100%; }
    .skills .skill{padding: 10px 40px;}
    nav{display: none;}
    header .ham-burger{display: block; color: #8BFBFF; font-size: 20px; padding-right: 20px;}
    .contact-form input {width: 350px;}
    .contact-form textarea {width: 350px;}
    nav{
        position: absolute;
        /* justify-content: center; */
        /* align-items: center; */
        /* align-content: center; */
        /* flex-direction: column; */
        top: 50px;
        left: 315px;
        display: none;
        /* transform: translateX(-50px) translateY(-50px); */
        line-height: 30px;
        z-index: 100;
        height: 20vh;
        background-color: transparent;
    }
    .nav ul{display: block;}
    .navbar .dis{
        display: flex;
        opacity: 1;
        visibility: visible;
    }
    .navbar ul li {
        margin-top: 30px;
    }
    .navbar ul li a{
        font-size: 20px;
        position: relative;
        letter-spacing: 2px;
    }
    .navbar ul:before{
        content: 'Navigation';
        color: rgba(158, 158, 158, 0.158);
        font-size: 80px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: 'popins' ,sans-serif;
        transform: translateY(230px) translateX(-50px) rotate(90deg);
    }
}
